@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-razorpay-blue: #02042b;
  --color-razorpay-light: #f7f8f9;
  --color-razorpay-primary: #3385ff;
}

body {
  font-family: 'Inter', sans-serif;
}